.sidebar{
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 0;
    background-color: white;
    height: 100vh;
    .sidebar-link{
        width: 100%;    
        padding-top: 20px;
        color: #2F2F2F;
        display: flex;
        margin-left: 20px;
        text-decoration: none;    
        font: #AEB9BE;
        font-size: 1.2rem;
    }
}